* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 300px;
    border: solid red;
    
}

.container input {
    width: 50%;
    height: 30px;
    margin: 5px 5rem;
}

.container-menu {
    width: 60%;
    height: 200px;
    background-color: mediumspringgreen;
    margin: 3rem 10rem;
}

#pop {
    width: 15%;
    height: 30px;
    margin-left: 8rem;
    background-color: navy;
    color: white;
    border-radius: 6px;
}